@import './utilities/_color.scss';
@import './utilities/_typo.scss';


/* Reseteo */
* {
    margin: 0;
    padding: 0;
}

h1 {
    color: $black;
    font-family: $rock_salt;
    text-align: center;
    text-decoration: dashed;

}

.panelMenu {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: $menu_color;
}

.panelMenu li {
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    font-family: $salsa;
    text-transform: uppercase;

    a {
        display: inline-block;
        color: $white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    a.active {
        color: $white;
        background-color: $menu_active_color;
    }

    a:hover:not(.active) {
        background-color: $menu_hover_color;
        color: $white;
    }
}



.panel-principal {
    border: 1px solid $black;
    border-radius: 10px;
    background-color: $lightgray;
    box-shadow: 10px 10px 50px 10px $grey;
}

p {
    font-family: $sriracha;
    font-size: 20px;
}

main {
    background-color: $main_color;
    padding-block-start: 6rem;
    padding-block-end: 6rem;
}

.copyright-text {
    text-align: center;
    margin: 20px;
}


.ligas {
    margin: 10px;
    padding: 5px;
    background: $lightgray;
    border-radius: 20px;
    border-style: outset;

    h1 {
        margin: 1rem;
        font-size: 1.5rem;
    }
}

.ligas>h2,
p {
    margin: 4px;
    font-size: 90%;
}

.panel-img-eventos {
    text-align: center;
    max-width: 15rem;
}


label {
    display: block;
    margin-top: 20px;
    letter-spacing: 1px;
}

.formulario-contacto {
    display: grid;
    margin: 0 auto;
    color: $black;
    font-family: $sriracha;
    font-size: 20px;
    justify-items: center;
}


input,
textarea {
    width: 400px;
    background: $white;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin-top: 5px;
    font-size: 15px;
    color: $black;
    font-family: $sriracha;
}

textarea {
    height: 150px;
}

.buttonSend {
    width: 220px;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
    background-color: $button_color_contact;
    font-size: 20px;
    margin-bottom: 45px;
    color: $white;
}

.button-send-contacto {
    text-align: center;
}

.nav-img-logo {
    font-size: 25px;
    font-family: $salsa;
}

.slider-centrado {
    height: 50%;
    margin: auto;
}

.color-title {
    color: $white;
    font-size: 3rem;
    animation-name: heartBeat;
    -webkit-animation-iteration-count: 2;
    animation-iteration-count: 2;
    animation-duration: 3s;
}

.card-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.carousel-item img {
    height: 45rem;
}

.navbar-toggler {
    background-color: $navbar-toggler-color;
}

@-webkit-keyframes heartBeat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    14% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }

    28% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    42% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }

    70% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes heartBeat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    14% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }

    28% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    42% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }

    70% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@media only screen and (max-width: 1000px) {
    .carousel-item img {
        height: 35rem;
    }
}

@media only screen and (max-width: 800px) {
    .carousel-item img {
        height: 30rem;
    }
}

@media only screen and (max-width: 600px) {
    .carousel-item img {
        height: 25rem;
    }
}

@media only screen and (max-width: 500px) {
    .carousel-item img {
        height: 20rem;
    }
}

@media only screen and (max-width: 400px) {
    .carousel-item img {
        height: 15rem;
    }
}


@media only screen and (max-width: 480px) {

    input,
    textarea {
        width: 300px;
        background: $white;
        border-radius: 10px;
        border: none;
        padding: 10px;
        margin-top: 5px;
        font-size: 15px;
        color: $black;
        font-family: $sriracha;
    }

}

@media only screen and (max-width: 380px) {

    input,
    textarea {
        width: 250px;
        background: white;
        border-radius: 10px;
        border: none;
        padding: 10px;
        margin-top: 5px;
        font-size: 15px;
        color: $black;
        font-family: $sriracha;
    }

}

@media only screen and (max-width: 345px) {

    input,
    textarea {
        width: 200px;
        background: $white;
        border-radius: 10px;
        border: none;
        padding: 10px;
        margin-top: 5px;
        font-size: 15px;
        color: $black;
        font-family: $sriracha;
    }

}

@media only screen and (max-width: 300px) {

    input,
    textarea {
        width: 150px;
        background: $white;
        border-radius: 10px;
        border: none;
        padding: 10px;
        margin-top: 5px;
        font-size: 15px;
        color: $black;
        font-family: $sriracha;
    }

    .buttonSend {
        width: 120px;
        margin-top: 20px;
        cursor: pointer;
        text-align: center;
        background-color: $button_color_contact;
        font-size: 20px;
        margin-bottom: 45px;
        color: $white;
    }

    .carousel-item img {
        height: 10rem;
    }
}


.video-responsive {
    overflow: hidden;
    padding-bottom: 30rem;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    iframe {
        top: 10%;
        height: 100%;
        width: 80%;
        position: absolute;
    }
}