$black: black;
$white:white;
$lightgray:lightgray;
$grey:grey;
$menu_color:#2F4858;
$menu_active_color: #F6AE2D;
$menu_hover_color: #33658A;
$main_color:#0C1B33;
$button_color_contact:#2C514C;
$navbar-toggler-color:#F6AE2D;