@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,500&family=Rock+Salt&family=Salsa&family=Sriracha&display=swap');

$rock_salt:'Rock Salt', cursive, 'Roboto', sans-serif;
$salsa:'Salsa', cursive, 'Roboto', sans-serif;
$sriracha:'Sriracha', cursive, 'Roboto', sans-serif;